{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}
    template-homepage
{% endblock body_class %}
{% block content %}
    {% comment %} {% if page.get_cta_url %}<a href="{{ page.get_cta_url }}">{{ page.get_cta_url }}</a>{% endif %}
    <h1>{{ page.title }}</h1>
    <h3>{{ page.subtitle }}</h3>
    {% if page.content %}<div>{{ page.content|richtext }}</div>{% endif %}
    {% if page.image %}
        {% image page.image fill-150x150-c100 format-jpeg %}
        {% image page.image width-400 %}
        {% image page.image width-400 format-avif-lossless %}
        {% image page.image width-400 format-webp-lossless %}
    {% endif %}
    {% if page.custom_document %}
        <p>
            Document: <a href="{{ page.custom_document.url }}">{{ page.custom_document.title }} - {{ page.custom_document.description }}</a>
        </p>
    {% endif %} {% endcomment %}
    {% for image in page.gallery_images.all %}
        {% image image.image fill-150x150-c100 format-jpeg %}
    {% endfor %}
{% endblock content %}
