{% extends "base.html" %}
{% load wagtailcore_tags wagtail_cache blog_tags %}
{% block content %}
    {% wagtailcache 500 'page-title-cache' %}
    <h1>{{ page.title }}</h1>
{% endwagtailcache %}
{% wagtailpagecache 500 'page-body-cache' %}
{% for block in page.body %}
    {% include_block block %}
{% endfor %}
{% endwagtailpagecache %}

{% if page.author %}
    {% include "includes/author_dark_mode.html" with object=page.author|get_translation_for_locale:page.locale %}
{% endif %}
{% endblock content %}
